<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Daily Journaling</title>
</head>
<body>
    <h1>My Journal</h1>
    <form action="/add" method="post">
        <textarea name = "entry" rows="4" cols="50" placeholder = "Write your thoughts/feelings here.."></textarea><br>
        <button type = "submit">Add Entry</button>
    </form>
    <h2>Entries</h2>
    <ul>
        {% for entry in entries %}
        <li>{{ entry }}</li>
        {% endfor %}
    </ul>
</body>
</html>