{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/default.css' %}">

<h2 class="settings-title">User Settings</h2>

<div class="settings-wrapper">
    

    <div class="settings-links">
        <button class="toggle-btn" onclick="toggleMode()" id="modeToggle">🌙 Dark Mode</button>

        <a href="{% url 'edit_profile' %}" class="nav-button">Edit Profile</a>

        <a href="{% url 'progress_tracker' %}" class="nav-button">Check Progress</a>
    </div>
</div>
{% endblock %}
