{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/default.css' %}">

<h2 class="homepage-heading">Change Password</h2>

<div class="form-container">
  <a href="{% url 'edit_profile' %}" class="nav-link">← Back to Edit Profile</a>
  <form method="POST" id="passwordForm" class="form-wrapper">
    {% csrf_token %}

    <div>
      {{ form.old_password.label_tag }}
      {{ form.old_password }}
    </div>

    <br>

    <div>
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
    </div>

    <br>

    <div>
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
    </div>

    <button type="submit" class="auth-button" style="width: 100%;">Change</button>
  </form>
</div>

<script>
  let formChanged = false;
  let skipWarning = false;

  const form = document.getElementById('passwordForm');

  form.querySelectorAll('input').forEach(el => {
    el.addEventListener('input', () => {
      formChanged = true;
    });
  });

  form.addEventListener('submit', () => {
    skipWarning = true;
  });

  window.addEventListener('beforeunload', function (e) {
    if (formChanged && !skipWarning) {
      e.preventDefault();
      e.returnValue = '';
    }
  });
</script>
{% endblock %}
